body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #212529;
	color: #aaa;
	font-family: sans-serif;
}

.alert-page {
	font-size: 150%;
	margin: 1em;
	text-align: center;	
}

.clickable {
	cursor: pointer;
	color: white;
}

table {
	width: 94%;
	margin: 3%;
	font-size: 120%;
	text-align: center;
}

td {
	min-width: 1em;
}

th {
	text-align: left;
}

.control {
	text-align: center;
	font-size: 100%;
	margin: 10%;
}

.hidden {
	display: none;
	visibility:hidden;
}

.alert {
	color: red;
}

#params td {
	text-align: right;
}

td.plot {
	width: 85%;
}

td.value {
	width: 15%;
	color: #aaa;
	padding-left: 10px;
	font-size: 1.2pc;
	font-family: sans-serif;
}

table#plot-controls td {
	width: 33%;
}
